
body
{
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #555;
    background: #51b2cd;
}

.grid-container
{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:0.9fr 0.9fr 0.9fr 0.9fr 0.9fr ;
    grid-template-rows: 50px 50px 50px 170px 170px 140px 140px 40px;
}

.mainTitle
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: black;
}

#stockChartHolder
{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

#transactionHistoryTb
{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#header
{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#symbolContainer
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
}

#companyNameContainer
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
}

#valueContainer
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
}

#cycleContainer
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
}
.backBtnContainer
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 8;
}

.sellCommandsContainer
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.sellCommandsContainer
{
    position: relative;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);

    margin-left: 40px;
}

.sellCommandsContainer:before, .stockChartHolder:before
{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.sellCommandsContainer h2
{
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, white, #eef2f5);
    background-image: -moz-linear-gradient(top, white, #eef2f5);
    background-image: -o-linear-gradient(top, white ,#eef2f5);
    background-image: linear-gradient(to bottom, white, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
    margin: 0px;
}

.transactionHistoryContainer
{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buyCommandsContainer
{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.buyCommandsContainer
{
    position: relative;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-right: 40px;
}

.buyCommandsContainer:before, #transactionHistoryContainer:before, #stockChartHolder:before
{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.buyCommandsContainer h2
{
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, white, #eef2f5);
    background-image: -moz-linear-gradient(top, white, #eef2f5);
    background-image: -o-linear-gradient(top, white ,#eef2f5);
    background-image: linear-gradient(to bottom, white, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
    margin: 0px;
}

input[type=button]
{
    padding: 0 18px;
    height: 29px;
    width: 60%;
    font-size: 15px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 10px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-left: 40px;
}

.stockData
{
    padding-left: 40px;
    color: black;
}

.transactionHistoryContainer
{
    position:relative;
    overflow: auto;
    background: white;
    margin-left: 80px;
    margin-right: 80px;
}

#transactionHistory
{
    position: inherit;
    width: 100%;
    border-collapse: collapse;
}

thead tr th
{
    position: sticky;
    top: 0;
}

thead
{
    position: inherit;
}

th
{
    padding: 5px;
    text-align: center;
    border-left: 1px dotted rgb(143 158 183 / 60%);
    border-bottom: 1px solid #a69f9f;    font-size: 14px;
    font-weight: bold;
    color: #555;
    background-image: -webkit-linear-gradient(top, white, #eef2f5);
    background-image: linear-gradient(to bottom, white, #d9d9db);
}

input[type=button]:active
{
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.toBold
{
    font-weight: bold;
}

#sellCommandsListContainer
{
    height: 83%;
    width: 100%;
    overflow: auto;
    direction: ltr;
}

#buyCommandsListContainer
{
    height: 85%;
    width: 100%;
    overflow: auto;
    direction: ltr;
}

#digitalClock
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#digitalClock
{
    position:relative;
    width: 131px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    color: black;
}


.mainTitle
{
    text-align: center;
}

.toBold
{
    font-weight: bold;
}

.cmdObject
{
    border-bottom: solid 1px #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

tr
{
    text-align: center;
}

#tHead
{
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, white, #eef2f5);
    background-image: -moz-linear-gradient(top, white, #eef2f5);
    background-image: -o-linear-gradient(top, white ,#eef2f5);
    background-image: linear-gradient(to bottom, white, #eef2f5);
}

#header
{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    background-color: #ffffff;
    opacity: 0.6;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

tbody tr td
{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #555;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

#stockChartHolder
{
    margin-right: 80px;
    margin-left: 80px;
    position: relative;
}

.backBtnContainer form
{
    position: absolute;
    bottom: 42px;
}